
// RESETS
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: #111;
  font-weight: 400;
  line-height: 1.5;
}


.container {
  background: #eee;
  min-height: 100vh;
  width: 70%;
  margin: 0 auto;
}