// RESETS
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #333;
  font-weight: 400;
  line-height: 1.5;
  background: rgb(55, 255, 95);
  background: linear-gradient(
    90deg,
    rgba(55, 255, 95, 0.8020628173144257) 0%,
    rgba(117, 217, 145, 1) 50%,
    rgba(55, 255, 95, 0.8020628173144257) 100%
  );
  min-height: 100vh;
  position: relative;
}
a:link,
a:visited {
  text-decoration: none;

  color: inherit;
  transition: all 0.2s;
}
header {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f1f2f6;
  margin-bottom: 5rem;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.02);
  a:hover,
  a:active {
    letter-spacing: 2.2px;
  }
  h1 {
    text-transform: uppercase;
    color: rgb(11, 185, 60);
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 2px;
  }
  .highlight {
    background: rgb(11, 185, 60);
    color: #f1f2f6;
    font-weight: 500;
    padding: 0 0.6rem;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}
.container {
  // border: 1px solid #333;
  max-width: 70%;
  margin: 0 auto;
}
main {
  display: flex;
  justify-content: space-evenly;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;

  p {
    text-align: center;
  }
}

// RESPONSIVE
@media only screen and (max-width: 900px) {
  .container {
    max-width: 80%;
  }
}
@media only screen and (max-width: 768px) {
  html {
    font-size: 50%;
  }
  .container {
    max-width: 90%;
  }
}
@media only screen and (max-width: 500px) {
  header {
    margin-bottom: 1rem;
    h1 {
      font-size: 1.8rem;
    }
  }

  .container {
    max-width: 70%;
  }

  main {
    flex-direction: column;
    justify-content: space-between;
  }

  .btn--remove.btn--remove {
    padding: 1.5rem 0;
  }
}
