

.team-1,
.team-2 {
  border-radius: 20px;
  border: 2px solid #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team__name--1,
.team__name--2 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.4rem;
}




.kits--grey {
  filter: grayscale(1);
}


.btn--remove {
  width: 100%;
  padding: 10px 0;
  margin-top: 1.6rem;
}